openapi: 3.1.0
info:
  title: photon-indexer
  description: Solana indexer for Rings
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  version: 0.51.2
servers:
- url: https://devnet.helius-rpc.com?api-key=<api_key>
paths:
  /get_encrypted_utxos_by_tags:
    summary: get_encrypted_utxos_by_tags
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - get_encrypted_utxos_by_tags
                params:
                  type: object
                  required:
                  - tags
                  properties:
                    cursor:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Base64String'
                    limit:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Limit'
                    tags:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - matches
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      matches:
                        type: array
                        items:
                          $ref: '#/components/schemas/EncryptedUtxoMatch'
                        description: Output-level matches; every returned output slot has a view tag from the request.
                      next_cursor:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /get_merkle_proofs:
    summary: get_merkle_proofs
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - get_merkle_proofs
                params:
                  type: object
                  required:
                  - tree_account
                  - leaves
                  properties:
                    leaves:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                    tree_account:
                      $ref: '#/components/schemas/SerializablePubkey'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - proofs
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      proofs:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerkleProof'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /get_non_inclusion_proofs:
    summary: get_non_inclusion_proofs
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - get_non_inclusion_proofs
                params:
                  type: object
                  required:
                  - tree_account
                  - leaves
                  properties:
                    leaves:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                    tree_account:
                      $ref: '#/components/schemas/SerializablePubkey'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - proofs
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      proofs:
                        type: array
                        items:
                          $ref: '#/components/schemas/NonInclusionProof'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /get_nullifier_queue_elements:
    summary: get_nullifier_queue_elements
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - get_nullifier_queue_elements
                params:
                  type: object
                  required:
                  - tree_account
                  - limit
                  properties:
                    limit:
                      type: integer
                      format: u-int64
                      description: Maximum number of elements to return.
                      minimum: 0
                    start_seq:
                      type: integer
                      format: u-int64
                      description: Return elements with `input_queue_seq >= start_seq` (default 0).
                      minimum: 0
                    tree_account:
                      $ref: '#/components/schemas/SerializablePubkey'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - elements
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      elements:
                        type: array
                        items:
                          $ref: '#/components/schemas/NullifierQueueElement'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /get_shielded_transactions_by_tags:
    summary: get_shielded_transactions_by_tags
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - get_shielded_transactions_by_tags
                params:
                  type: object
                  required:
                  - tags
                  properties:
                    cursor:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Base64String'
                    limit:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Limit'
                    tags:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - transactions
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      next_cursor:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                      transactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/ShieldedTransaction'
                        description: |-
                          Transaction-level matches; each returned transaction has at least one requested
                          output view tag and includes all of its output slots.
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
components:
  schemas:
    Base64String:
      type: string
      description: A base 64 encoded string.
      default: SGVsbG8sIFdvcmxkIQ==
      examples:
      - SGVsbG8sIFdvcmxkIQ==
    Context:
      type: object
      required:
      - slot
      properties:
        slot:
          type: integer
          format: u-int64
          default: 100
          examples:
          - 100
    EncryptedUtxoMatch:
      type: object
      required:
      - slot
      - tx_signature
      - output_slot
      properties:
        output_slot:
          $ref: '#/components/schemas/RingsOutputSlot'
        salt:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
            description: Transaction-level AES salt shared by every output ciphertext.
        slot:
          type: integer
          format: u-int64
          minimum: 0
        tx_signature:
          $ref: '#/components/schemas/SerializableSignature'
        tx_viewing_pk:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
      additionalProperties: false
    Hash:
      type: string
      description: A 32-byte hash represented as a base58 string.
      examples:
      - 4vJ9JU1bJJE96FWSJKvHsmmFADCg4gpZQff4P3bkLKi
    Limit:
      type: integer
      format: u-int64
      maximum: 1000
      minimum: 1
    MerkleContext:
      type: object
      required:
      - tree_type
      - tree
      properties:
        tree:
          $ref: '#/components/schemas/SerializablePubkey'
        tree_type:
          type: integer
          format: u-int16
          minimum: 0
      additionalProperties: false
    MerkleProof:
      type: object
      required:
      - leaf
      - merkle_context
      - path
      - leaf_index
      - root
      - root_seq
      - root_index
      properties:
        leaf:
          $ref: '#/components/schemas/Hash'
        leaf_index:
          type: integer
          format: u-int64
          minimum: 0
        merkle_context:
          $ref: '#/components/schemas/MerkleContext'
        path:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
        root:
          $ref: '#/components/schemas/Hash'
        root_index:
          type: integer
          format: u-int16
          minimum: 0
        root_seq:
          type: integer
          format: u-int64
          minimum: 0
      additionalProperties: false
    NonInclusionProof:
      type: object
      required:
      - leaf
      - merkle_context
      - path
      - low_element
      - low_element_index
      - high_element
      - high_element_index
      - root
      - root_seq
      - root_index
      properties:
        high_element:
          $ref: '#/components/schemas/Hash'
        high_element_index:
          type: integer
          format: u-int64
          minimum: 0
        leaf:
          $ref: '#/components/schemas/Hash'
        low_element:
          $ref: '#/components/schemas/Hash'
        low_element_index:
          type: integer
          format: u-int64
          minimum: 0
        merkle_context:
          $ref: '#/components/schemas/MerkleContext'
        path:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
        root:
          $ref: '#/components/schemas/Hash'
        root_index:
          type: integer
          format: u-int16
          minimum: 0
        root_seq:
          type: integer
          format: u-int64
          minimum: 0
      additionalProperties: false
    NullifierQueueElement:
      type: object
      description: One queued nullifier, in on-chain input-queue order.
      required:
      - seq
      - value
      properties:
        seq:
          type: integer
          format: u-int64
          minimum: 0
        value:
          $ref: '#/components/schemas/Hash'
      additionalProperties: false
    RingsOutputContext:
      type: object
      required:
      - hash
      - tree
      - leaf_index
      properties:
        hash:
          $ref: '#/components/schemas/Hash'
        leaf_index:
          type: integer
          format: u-int64
          minimum: 0
        tree:
          $ref: '#/components/schemas/SerializablePubkey'
      additionalProperties: false
    RingsOutputSlot:
      type: object
      required:
      - view_tag
      - output_context
      - payload
      properties:
        output_context:
          $ref: '#/components/schemas/RingsOutputContext'
        payload:
          $ref: '#/components/schemas/Base64String'
        view_tag:
          $ref: '#/components/schemas/Hash'
      additionalProperties: false
    SerializablePubkey:
      type: string
      description: A Solana public key represented as a base58 string.
      default: 111gbUgQk1ZFzZAQ2u4VePsUmmbjvubFCb4fwnFfhB
      examples:
      - 111gbUgQk1ZFzZAQ2u4VePsUmmbjvubFCb4fwnFfhB
    SerializableSignature:
      type: string
      description: A Solana transaction signature.
      default: 5J8H5sTvEhnGcB4R8K1n7mfoiWUD9RzPVGES7e3WxC7c
      examples:
      - 5J8H5sTvEhnGcB4R8K1n7mfoiWUD9RzPVGES7e3WxC7c
    ShieldedTransaction:
      type: object
      required:
      - slot
      - tx_signature
      - output_slots
      - nullifiers
      - proofless
      properties:
        nullifiers:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
        output_slots:
          type: array
          items:
            $ref: '#/components/schemas/RingsOutputSlot'
        proofless:
          type: boolean
          description: True when at least one output in this transaction is proofless.
        salt:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
            description: Transaction-level AES salt shared by every output ciphertext.
        slot:
          type: integer
          format: u-int64
          minimum: 0
        tx_signature:
          $ref: '#/components/schemas/SerializableSignature'
        tx_viewing_pk:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
      additionalProperties: false
