openapi: 3.1.0
info:
  title: photon-indexer
  description: Solana indexer for Rings
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  version: 0.51.2
servers:
- url: https://devnet.helius-rpc.com?api-key=<api_key>
paths:
  /getEncryptedUtxosByTags:
    summary: getEncryptedUtxosByTags
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getEncryptedUtxosByTags
                params:
                  type: object
                  required:
                  - tags
                  properties:
                    cursor:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Base64String'
                    limit:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Limit'
                    tags:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - matches
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      matches:
                        type: array
                        items:
                          $ref: '#/components/schemas/EncryptedUtxoMatch'
                        description: Output-level matches; every returned output slot has a view tag from the request.
                      nextCursor:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                      scannedThrough:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                          description: |-
                            Where the scan reached, when it ran out of rows rather than filling a
                            page.

                            Separates the two jobs `next_cursor` used to do at once. A cursor on
                            every non-empty page made "is there more?" cost an extra request, and
                            dropping it there instead would leave a caller with no watermark to
                            resume from -- so the watermark moved here, and `next_cursor` now means
                            only that another page exists. Present only on a page the limit did not
                            truncate, which is when "nothing further exists at or before this
                            position" holds.
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /getMerkleProofs:
    summary: getMerkleProofs
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getMerkleProofs
                params:
                  type: object
                  required:
                  - treeAccount
                  - leaves
                  properties:
                    leaves:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                    treeAccount:
                      $ref: '#/components/schemas/SerializablePubkey'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - proofs
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      proofs:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerkleProof'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /getNonInclusionProofs:
    summary: getNonInclusionProofs
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getNonInclusionProofs
                params:
                  type: object
                  required:
                  - treeAccount
                  - leaves
                  properties:
                    leaves:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                    treeAccount:
                      $ref: '#/components/schemas/SerializablePubkey'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - proofs
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      proofs:
                        type: array
                        items:
                          $ref: '#/components/schemas/NonInclusionProof'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /getNullifierQueueElements:
    summary: getNullifierQueueElements
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getNullifierQueueElements
                params:
                  type: object
                  required:
                  - treeAccount
                  - limit
                  properties:
                    limit:
                      $ref: '#/components/schemas/Limit'
                      description: Maximum number of elements to return.
                    startSeq:
                      type: integer
                      format: u-int64
                      description: Return elements with `input_queue_seq >= startSeq` (default 0).
                      minimum: 0
                    treeAccount:
                      $ref: '#/components/schemas/SerializablePubkey'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - elements
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      elements:
                        type: array
                        items:
                          $ref: '#/components/schemas/NullifierQueueElement'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /getShieldedTransactionsByNullifiers:
    summary: getShieldedTransactionsByNullifiers
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getShieldedTransactionsByNullifiers
                params:
                  type: object
                  required:
                  - nullifiers
                  properties:
                    cursor:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Base64String'
                    limit:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Limit'
                    nullifiers:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - transactions
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      nextCursor:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                      scannedThrough:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                          description: |-
                            Where the scan reached, when it ran out of rows rather than filling a
                            page.

                            `next_cursor` is the last returned row's position, and a query for
                            unspent nullifiers returns none. Present only on a page the limit did not
                            truncate, which is when "no match exists at or before this position"
                            holds.
                      transactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/ShieldedTransaction'
                        description: |-
                          Transaction-level matches; each returned transaction spends at least one
                          requested nullifier and includes all of its output and input slots.
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /getShieldedTransactionsBySignature:
    summary: getShieldedTransactionsBySignature
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getShieldedTransactionsBySignature
                params:
                  type: object
                  required:
                  - txSignature
                  properties:
                    txSignature:
                      $ref: '#/components/schemas/SerializableSignature'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - transactions
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      transactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/IndexedShieldedTransaction'
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
  /getShieldedTransactionsByTags:
    summary: getShieldedTransactionsByTags
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getShieldedTransactionsByTags
                params:
                  type: object
                  required:
                  - tags
                  properties:
                    cursor:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Base64String'
                    limit:
                      oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/Limit'
                    tags:
                      type: array
                      items:
                        $ref: '#/components/schemas/Hash'
                  additionalProperties: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - jsonrpc
                - id
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                    description: An ID to identify the response.
                    enum:
                    - test-account
                  jsonrpc:
                    type: string
                    description: The version of the JSON-RPC protocol.
                    enum:
                    - '2.0'
                  result:
                    type: object
                    required:
                    - context
                    - transactions
                    properties:
                      context:
                        $ref: '#/components/schemas/Context'
                      nextCursor:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                      scannedThrough:
                        oneOf:
                        - type: 'null'
                        - $ref: '#/components/schemas/Base64String'
                          description: |-
                            Where the scan reached, when it ran out of rows rather than filling a
                            page.

                            Separates the two jobs `next_cursor` used to do at once. A cursor on
                            every non-empty page made "is there more?" cost an extra request, and
                            dropping it there instead would leave a caller with no watermark to
                            resume from -- so the watermark moved here, and `next_cursor` now means
                            only that another page exists. Present only on a page the limit did not
                            truncate, which is when "nothing further exists at or before this
                            position" holds.
                      transactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/ShieldedTransaction'
                        description: |-
                          Transaction-level matches; each returned transaction has at least one requested
                          output view tag and includes all of its output slots.
                    additionalProperties: false
        '429':
          description: Exceeded rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
        '500':
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                  id:
                    type: string
                  jsonrpc:
                    type: string
components:
  schemas:
    Base64String:
      type: string
      description: A base64-encoded byte string on the JSON wire.
    Context:
      type: object
      required:
      - blockTime
      - slot
      properties:
        blockTime:
          type: integer
          format: int64
        slot:
          type: integer
          format: u-int64
          description: Highest slot the indexer has persisted, for slot-based freshness checks.
          minimum: 0
      additionalProperties: false
    EncryptedUtxoMatch:
      type: object
      required:
      - slot
      - txSignature
      - outputSlot
      properties:
        outputSlot:
          $ref: '#/components/schemas/RingsOutputSlot'
        salt:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
            description: Transaction-level AES salt shared by every output ciphertext.
        slot:
          type: integer
          format: u-int64
          minimum: 0
        txSignature:
          $ref: '#/components/schemas/SerializableSignature'
        txViewingPk:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
      additionalProperties: false
    Hash:
      type: string
      description: A 32-byte hash represented as a base58 string.
    IndexedShieldedTransaction:
      type: object
      required:
      - eventIndex
      - transaction
      properties:
        eventIndex:
          type: integer
          format: u-int16
          minimum: 0
        transaction:
          $ref: '#/components/schemas/ShieldedTransaction'
      additionalProperties: false
    Limit:
      type: integer
      format: u-int64
      maximum: 1000
      minimum: 1
    MerkleContext:
      type: object
      required:
      - treeType
      - tree
      properties:
        tree:
          $ref: '#/components/schemas/SerializablePubkey'
        treeType:
          type: integer
          format: u-int16
          minimum: 0
      additionalProperties: false
    MerkleProof:
      type: object
      required:
      - leaf
      - merkleContext
      - path
      - leafIndex
      - root
      - rootSeq
      - rootIndex
      properties:
        leaf:
          $ref: '#/components/schemas/Hash'
        leafIndex:
          type: integer
          format: u-int64
          minimum: 0
        merkleContext:
          $ref: '#/components/schemas/MerkleContext'
        path:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
        root:
          $ref: '#/components/schemas/Hash'
        rootIndex:
          type: integer
          format: u-int16
          minimum: 0
        rootSeq:
          type: integer
          format: u-int64
          minimum: 0
      additionalProperties: false
    NonInclusionProof:
      type: object
      required:
      - leaf
      - merkleContext
      - path
      - lowElement
      - lowElementIndex
      - highElement
      - highElementIndex
      - root
      - rootSeq
      - rootIndex
      properties:
        highElement:
          $ref: '#/components/schemas/Hash'
        highElementIndex:
          type: integer
          format: u-int64
          minimum: 0
        leaf:
          $ref: '#/components/schemas/Hash'
        lowElement:
          $ref: '#/components/schemas/Hash'
        lowElementIndex:
          type: integer
          format: u-int64
          minimum: 0
        merkleContext:
          $ref: '#/components/schemas/MerkleContext'
        path:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
        root:
          $ref: '#/components/schemas/Hash'
        rootIndex:
          type: integer
          format: u-int16
          minimum: 0
        rootSeq:
          type: integer
          format: u-int64
          minimum: 0
      additionalProperties: false
    NullifierQueueElement:
      type: object
      description: One queued nullifier, in on-chain input-queue order.
      required:
      - seq
      - value
      properties:
        seq:
          type: integer
          format: u-int64
          minimum: 0
        value:
          $ref: '#/components/schemas/Hash'
      additionalProperties: false
    RingsMessage:
      type: object
      required:
      - viewTag
      - payload
      properties:
        payload:
          $ref: '#/components/schemas/Base64String'
        viewTag:
          $ref: '#/components/schemas/Hash'
      additionalProperties: false
    RingsOutputContext:
      type: object
      required:
      - hash
      - tree
      - leafIndex
      properties:
        hash:
          $ref: '#/components/schemas/Hash'
        leafIndex:
          type: integer
          format: u-int64
          minimum: 0
        tree:
          $ref: '#/components/schemas/SerializablePubkey'
      additionalProperties: false
    RingsOutputSlot:
      type: object
      required:
      - viewTag
      - outputContext
      - payload
      properties:
        outputContext:
          $ref: '#/components/schemas/RingsOutputContext'
        payload:
          $ref: '#/components/schemas/Base64String'
        viewTag:
          $ref: '#/components/schemas/Hash'
      additionalProperties: false
    SerializablePubkey:
      type: string
      description: A Solana public key represented as a base58 string.
    SerializableSignature:
      type: string
      description: A Solana transaction signature represented as a base58 string.
    ShieldedTransaction:
      type: object
      required:
      - slot
      - txSignature
      - outputSlots
      - messages
      - nullifiers
      - proofless
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/RingsMessage'
          description: Published data slots bound to no output commitment, republished verbatim.
        nullifiers:
          type: array
          items:
            $ref: '#/components/schemas/Hash'
        outputSlots:
          type: array
          items:
            $ref: '#/components/schemas/RingsOutputSlot'
        proofless:
          type: boolean
          description: True when at least one output in this transaction is proofless.
        salt:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
            description: Transaction-level AES salt shared by every output ciphertext.
        slot:
          type: integer
          format: u-int64
          minimum: 0
        txSignature:
          $ref: '#/components/schemas/SerializableSignature'
        txViewingPk:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Base64String'
      additionalProperties: false
